// Deck of cards styles
@use 'variables' as *;

.deck-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  max-width: 70%;
  justify-content: center;

  @media (max-width: $medium) {
    padding: 0;
    max-width: none;
  }
}

.deck-card {
  aspect-ratio: 60 / 100;
  width: 110px;
  border-radius: $border-radius;
  cursor: pointer;
  transition: $transition-fast;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $body-size;
  background-image: url('./img/back-new.jpg');
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid $stone-gray; 

  @media (max-width: $medium) {
    width: 75px;
  }

  &:hover {
    transform: translateY(-5px) rotateY(20deg);
    box-shadow: 5px 5px 10px rgba($sage-green, 0.7); 
  }

  &.selected {
    opacity: 0.5;
    pointer-events: none;
    border-color: $scorpion-red; 
  }
}