// Responsive styles
@use 'variables' as *;


@media (max-width: 768px) {
  main {
    padding: $spacing-medium;
  }
  
  header {
    padding: $spacing-small;
  }
  
  h1 {
    font-size: 2rem;
  }


  .card-meaning {
    font-size: 0.8rem;
    max-height: 80px;
  }
  
  .interpretation {
    padding: $spacing-medium;
  }
}